<div>
    <h1>Listado productos</h1>
    <ul>
        {{#each product}}
        <h2>{{this.title}}</h2>
        <li>Descripción: {{this.description}}</li>
        <li>Precio: {{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
        {{/each}}
    </ul>
</div>