<div>
    <h1> Login </h1>
    <form action="" id="loginForm">

        <label> Email </label>
        <input type="text" name="email">
        <br>
        <label> Contraseña </label>
        <input type="password" name="password">
        <br>
        <input type="submit">
    </form>
    <br>
    <p>¿No tienes una cuenta? <a href="/register">Click aquí!</a></p>
    <br>
    <a href="/api/sessions/github"><button>Ingresa con github</button></a>
    <br>
    <p>¿Olvidaste tu contraseña? <a href="/retrievepassword">Click aquí!</a></p>
</div>

<script src="/js/login.js"></script>
