<div>
    <h1> Recupera tu contraseña </h1>
    <form action="" id="loginForm">
        <label> Password </label>
        <input type="text" name="password">
        <br>
        <input type="submit">
    </form>
</div>

<script src="/js/resetpassword.js"></script>
