<div>
    <h1> Recupera tu contraseña </h1>
    <form action="" id="loginForm">
        <label> Email </label>
        <input type="text" name="email">
        <br>
        <input type="submit">
    </form>
</div>

<script src="/js/retrievePassword.js"></script>
